.h-bg,
.hero {
    display: flex;
}

.h-bg {
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-shadow: inset black 0 0 500px 200px;
}

.h-bg img {
    width: 500px;
    height: 500px;
    margin-right: 15vw;
}

.hero {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-left: 15vw;
    gap: 5vh;
}

.h-hiring {
    padding: 1.5vh 1.6vw;
    width: max-content;
    background: linear-gradient(125deg, rgb(177, 20, 20), rgb(214, 77, 77));
    border: 4px solid rgba(212, 212, 212, 0.3);
    border-radius: 50px;
    font-size: 10px;
}

.h-name {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 45px;
}

.h-name h1 {
    text-shadow: 5px 5px black;
}

.h-name h3 {
    color: var(--color);
    text-shadow: var(--color) 0 0 20px;
}