.skills {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13vh 0;
    font-size: 22px;
}

.s-title {
    margin-bottom: 10vh;
}

.s-list {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.s-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    width: 20vw;
    height: 30vh;
    padding: 2vw;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.s-item:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(109, 109, 109, 0.2);
}

.s-item h3 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    width: 100%;
    padding-bottom: 3vh;
    text-align: center;
}

.s-desc {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: .5vw;
}

.s-desc span {
    padding: 1vh .9vw;
    background-color: rgba(128, 128, 128, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.s-desc span:hover {
    color: var(--color);
    border-color: var(--color);
    box-shadow: 0 0 10px var(--color);
    cursor: default;
}